@model Gerenciador_CT.Repositorio.AulaRepositorio

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Aula</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="treinador.Nome" class="control-label"></label>
				<input asp-for="treinador.Nome" class="form-control" />
				<span asp-validation-for="treinador.Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="horario.Dia" class="control-label"></label>

				<select asp-for="horario.Dia">
					<option value="Segunda-Feira">Segunda-feira</option>
					<option value="Terça-Feira">Terça-feira</option>
					<option value="Quarta-feira" >Quarta-feira</option>
					<option value="Quinta-Feira">Quinta-feira</option>
					<option value="Sexta-Feira">Sexta-feira</option>
					<option value="Sabádo">Sabádo</option>
					<option value="Domingo">Domingo</option>
				</select>


			</div>
			<div class="form-group">

				<label asp-for="horario.Hora" class="control-label"></label>
				<input type="time" asp-for="horario.Hora" class="form-control" />
				<span asp-validation-for="horario.Hora" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
