@model Gerenciador_CT.Repositorio.AulaRepositorio

@{
	ViewData["Title"] = "Editar Alunos";
}
<br>
<a class="btn btn-primary " role="button" asp-route-id="@Model.aula.Id"  asp-action="NovoAluno">Adicionar aluno a aula</a>
<div class="text-center">
	<br>

	<h1>Edite os alunos que participarão desta aula</h1>
	<br>

	<div>
		<h4>Alunos</h4>
		<hr />
		
		<table class="table table-light table-striped table-hover table-sm table-responsive accordion-item ">
			<thead>
				<tr class="table-dark">

					<th>
						Alunos
					</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.alunoLista)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Nome)
						</td>
						<td>
							@foreach(var a in item.AlunoAulas)
							{
								if (a.FkAula == Model.aula.Id)
								{
									<a role="button" asp-controller="Aulas" asp-route-id=" @a.Id" asp-action="DeleteAluno" class="btn btn-danger btn-sm"> <img src="~/excluir.png" width="25"></a>
								}
							}
							<input type="hidden" asp-for="aula.Id">
							




						</td>
					</tr>
				}
		</table>
		<br />
		<a type="button" class="btn btn-dark float-lg-start" asp-action="Index">Voltar</a>
	</div>
</div>
