@model Gerenciador_CT.Repositorio.AulaRepositorio

@{
	ViewData["Title"] = "Editar";
}

<h1 class="display-4">Editar aula</h1>

<h4>Aula</h4>
<hr />
<div class="row">

	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="aula.Id" />
		<div class="mb-3">
			<label asp-for="aula.FkTreinadorNavigation.Nome" class="control-label"></label>
			<input asp-for="aula.FkTreinadorNavigation.Nome" class="form-control" />
			<span asp-validation-for="aula.FkTreinadorNavigation.Nome" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="horario.Dia" class="control-label"></label>

			<select asp-for="aula.FkHorarioNavigation.Dia">
				<option value="Segunda-feira">Segunda-feira</option>
				<option value="Terça-feira">Terça-feira</option>
				<option value="Quarta-feira">Quarta-feira</option>
				<option value="Quinta-feira">Quinta-feira</option>
				<option value="Sexta-feira">Sexta-feira</option>
				<option value="Sabádo">Sabádo</option>
				<option value="Domingo">Domingo</option>
			</select>


		</div>
		<div class="mb-3">

			<label asp-for="aula.FkHorarioNavigation.Hora" class="control-label"></label>
			<input type="time" asp-for="aula.FkHorarioNavigation.Hora" class="form-control" />
			<span asp-validation-for="aula.FkHorarioNavigation.Hora" class="text-danger"></span>
		</div>

		<div class="d-grid gap-2">
			<input type="submit" value="Confirmar" class="btn btn-primary" />
			<a class="btn btn-dark" asp-action="Index">Voltar para a lista</a>
		</div>
	</form>
</div>


<div>
	
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
