@model Gerenciador_CT.Repositorio.TreinadorModalidadeRepositorio


@{
	ViewData["Title"] = "Adicionar modalidade";
}
<h1>Adicionar modalidade ao treinador</h1>


<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AdicionarModalidadeTreinador"  method="post">
			<input type="hidden" asp-for="treinador.Id"/>
			<div class="form-group">
				@Html.DropDownListFor(model => model.Modalidade.Id,ViewBag.modalidadesSelectList as SelectList,"--Selecione a modalidade--", new {@class = "form-control"})
				<button type="submit"  class="btn btn-primary">Adicionar</button>
			</div>
		</form>
	</div>
</div>
