@model Gerenciador_CT.Repositorio.AlunoModalidadesRepositorio


@{
	ViewData["Title"] = "Adicionar modalidade";
}
<h1>Adicionar modalidade ao aluno</h1>


<hr />
<div class="row">
	<div class="row">
		<div class="col-md-4">
			<form class="form-control " Asp-action="AdicionarModalidadeAluno">
				<input type="hidden" asp-for="aluno.Id" />
				@Html.DropDownListFor(model => model.Modalidade.Id,ViewBag.modalidadesSelectList as SelectList,"--Selecione a modalidade--", new {@class = "form-control"})
				<button class="btn btn-primary" type="submit">Adicionar </button>
			</form>
		</div>
	</div>
</div>
<a asp-action="EditarModalidade">Voltar</a>