html {
    font-size: 14px;
    background-color: #ffffff;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: #ffffff;
        color: black;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
    color: black;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    color: black;
}


a {
    color: #b3b3b3;
}
#imgGit{
    color:black;
}



#footer {
    color: #fff !important;
}

#footer2 {
    border-color: #b3b3b3 !important;
    background-color: #323031;
    color: #fff;
}

#header {
    border-bottom: solid;
    border-width: 1px;
    color: #dde4de;
    background-color: #323031 !important;
   
}


.modal {
    width: 300px;
    border-color:#b3b3b3 ;
}

.modal-content {
    width: 300px;
    background-color: #ffffff;
}

.list-group-item:hover {
    background-color: #b3b3b3 !important;
    color:black;
}

.list-group-item {
    background-color: #fff;
}

.modal-body {
    background-color: #ffff;
}


#simboloBotao {
    color: white !important;
}

#logo{
    width: 56vw;
}

.linkSide{
    color:black;
}
.linkSide:hover{
    color: black;
}